body {
    font-family: Molengo;
    background-image: url("./images/ep_naturalwhite.png");
    background-attachment: fixed;
}

.container, footer {
    margin-left: 20%;
    margin-right: 20%;
}

.container {
    margin-top: 5%;
    border-radius: 10px;
    background-color: #bbbbbb5d;
    padding: 5%;
}

.container2 {
    padding-left: 2%;
}

#matchPicture {
    width: 100%;
    max-width: 400px;
    border-radius: 7px;
    object-fit: cover;
    border: 1px solid #58585880;
    box-shadow: 1px 1px 7px #00000081;
    margin-top: 5%;
}

.matchNameActive {
    font-size: 30px;
    background: url("./images/congratz.gif");
    background-position: center;
    background-size: 20%;
    -webkit-background-clip: text;
    font-weight: 900;
}

button:focus, input:focus, a:focus {
    outline: none;
}

button {
    border: none;
    padding: 9px;
    border-radius: 4px;
}

#surveyButton, #submitButton {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 15px;
    /* background-color: #6d4100; */
    background-image: linear-gradient(to right, #e153ce, #852D91, rgb(211, 68, 255), rgb(230, 51, 51));
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    font-size: 15px;
    transition: 0.5s;
    position: relative;
    bottom: -8px;
    height: 36px;
    border: 0.5px solid grey;
}

#surveyButton, #submitButton {
    /* box-shadow: 0 0 7px #008cff; */
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#surveyButton:hover, #submitButton:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#surveyButton:active, #submitButton:active {
    text-shadow: 0 0 7px #00ffc8;
    color: #00576d;
    box-shadow: 0 0 7px #00ffc8;
}

#submitButton {
    margin-bottom: 2%;
    margin-left: 40%;
}

.homeTitle {
    font-size: 35px;
}

footer {
    margin-top: 3%;
    margin-left: 23%;
}

.fancybox-slide--iframe .fancybox-content {
    width  : 800px;
    height : 600px;
    max-width  : 80%;
    max-height : 80%;
    margin: 0;
}

input, select {
    border: 1px solid #8b8b8b88;
    outline: none;
    border-radius: 3px;
    transition: 0.5s;
}

input:hover, select:hover {
    transition: 0.5s;
    box-shadow: 0 0 0 3px #00c3ff52;
    cursor: pointer;
}

input:focus, select:focus {
    box-shadow: 0 0 0 3px #a5ff3f79;
}

